# Build directories
build/
_artifacts/
_3rdParty/
*.exe
*.dSYM/

# IDE files
.vscode/
.xcode/
.DS_Store
*.user
*.suo

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
_deps/

# Compiled files
*.o
*.a
*.dylib
*.so
*.dll
